# Uppgifter, Kapitel 2 - Datatyper

1. Addera de två talen nedan och spara resultaten i en variabel som heter my_result. Printa ut variabeln my_result.

In [ ]:
num_1 = 5
num_2 = 3

2. Multiplicera de två talen nedan och spara resultaten i en variabel som heter my_mult_result. Printa ut variabeln my_mult_result.

In [ ]:
number_1 = 10
number_2 = 7

3. Förklara vad nedanstående kod gör.

In [ ]:
10 % 3

4. Vi vet att 27/6 = 4.5. Förklara vad nedanstående kod gör.

In [ ]:
27//6

5. Vad är fel i nedanstående kod? Rätta till koden så det fungerar.

In [ ]:
print('it's fun to learn Python!')

6. Vad gör nedanstående kod?

In [ ]:
print("ha"*3)

7. Extrahera namnet "Anna" från strängen nedan genom att göra en "slice".

In [ ]:
full_name = "Anna Andersson"

8. Hur många tecken har strängen nedan? Använd len() funktionen.

In [ ]:
full_name = "Anna Andersson"

9. a) Genom att använda en f-string med de två variablerna "founder" och "language", printa ut texten "Hello Guido, Python is really fun to learn!"
    
   b) Du vill nu skriva ut hela namnet "Guido van Rossum" så texten blir "Hello Guido van Rossum, Python is really fun to learn!", gör det genom att ändra namnet i variabeln founder och exekvera din f-string på nytt.

In [ ]:
founder = "Guido"
language = "Python"

10. Varför blir koden nedan fel?

In [ ]:
my_first_tuple = (10, 5, 'hi', 3)

In [ ]:
my_first_tuple[1] = 10

11. Vad gör koden nedan?

In [ ]:
my_tuple = ('languages', ['Python', 'Java', 'C', 'R'], 'apples')

In [ ]:
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1][2])

12. Kolla på vilken typ variabeln "my_tuple" har genom att använda type() funktionen.

In [ ]:
my_tuple = ('languages', ['Python', 'Java', 'C', 'R'], 'apples')

13. Vad gör koden nedan?

In [ ]:
my_first_list = [10, 5, 'hi', 3]

In [ ]:
my_first_list[1] = 7

In [ ]:
my_first_list

14. Se vilken typ variabeln "my_first_list" har genom att använda type() funktionen.

In [ ]:
my_first_list = [10, 5, 'hi', 3]

15. Beräkna antalet element i variabeln "shopping_list" genom att använda len() funktionen.

In [ ]:
shopping_list = ['apple', 'banana', 'grapes', 'eggs', 'milk']

16. Vi glömde att lägga till bröd ("bread" på engelska) i vår shopping lista. Gör det genom att använda append() metoden och printa ut den nya shopping listan.

In [ ]:
shopping_list = ['apple', 'banana', 'grapes', 'eggs', 'milk']

17. Beräkna antalet gånger siffran 7 finns i listan "my_numbers". Använd count() metoden.

In [ ]:
my_numbers = [1, 7, 2, 7, 10, 7]

18. Konvertera "one_tuple" till en lista och spara det i en variabel som heter "one_list".

In [ ]:
one_tuple = (10, 5, 3)

19. Vad gör nedanstående kod?

In [ ]:
my_first_dict = {'Anna': 38, 'Goran': 19, 'Lennart': 59, 'Halimah': 28}

In [ ]:
my_first_dict['Goran']

20. Kolla på vilken typ variabeln "my_first_dict" har genom att använda type() funktionen.

21. Varför printas element 5 endast ut en gång i koden nedan?

In [ ]:
my_set = {10, 5, 2, 5, 5} 
print(my_set)

22. Vi har definierat de två mängderna A och B nedan. 

a) Hitta alla element som är i både A och B. Använd intersection() metoden. 

b) Hitta alla element som är i A och/eller B. Använd union() metoden. 

c) Hitta alla element som är i A men inte i B. Använd difference() metoden.

In [ ]:
A = {1, 2, 3, 4, 5} 
B = {3, 10, 5, 7}

23. Vi har definierat det två listorna "list_a" och "list_b" nedan. Nedanstående uppgifter kan enkelt lösas genom att konvertera de definierade listorna till mängder först. 

a) Hitta alla element som är i både list_a och list_b.

b) Hitta alla element som är i list_a och/eller list_a.

In [ ]:
list_a = [1, 2, 3, 4, 5]
list_b = [5, 6, 10, 21]

24. Hitta alla unika element i variabeln "duplicate_values" genom att konvertera "tuplen" till en "set".

In [ ]:
duplicate_values = (10, 2, 2, 10, 1)