# Uppgifter, Kapitel 4 - Loopar och iterationer

1. Printa ut alla element i listan "looping_list" med en for loop.

In [ ]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R', 'C', 'Java'), 55]

2. Printa ut alla element i listan "looping_list" med en for loop och printa även ut vilken iteration det är genom att använda funktionen enumerate().

In [ ]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R', 'C', 'Java'), 55]

3. Printa ut talen 0, 5, 10, 15, 20 med en for-loop där du använder range() funktionen.

4. Skriv en for loop för att printa ut varje bokstav separat i variabeln "for_string".

In [ ]:
for_string = 'Python!'

5. Skriv en while loop för att printa ut varje bokstav separat i variabeln "while_string".

In [ ]:
while_string = 'Is Awesome!'

6. Printa ut talen 1, 2, 3, ..., 10 med en while loop.

7. Printa ut alla tal som är delbara med 5 i listan som är sparad i variabeln "numbers". För att se om ett tal är delbart med 5 så kan du använda modulo operatorn "%". Ett tal är delbart med 5 om dess rest är 0 när det delas med 5.

In [ ]:
numbers = [10, 20, 34, 46, 55]

8. Förklara vad nedanstående kod gör.

In [ ]:
my_list = [] 

for i in range(10):
    if i % 2 == 0:
        my_list.append(i)

print(my_list)

9. Använd en for loop för att skapa en ny lista från "list_example", där varje tal är multiplicerat med 10. Du skall endast inkludera talen mellan 4-8 där 4 och 8 är inkluderat från "list example".

In [ ]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

10. Förklara vad nedanstående kod gör.

In [ ]:
for i in range(100):
    if i in (5, 7, 8):
        continue 
    if i > 10: 
       break
    print(i)
else: 
    print('We are done!')