# Exportera en Pandas `DataFrame` till SQL

Såhär kan du göra för att exportera en Pandas `DataFrame` till en SQL-tabell.

Vi använder den inbyggda modulen `sqlite3` för att skapa en databasfil.

(Läs gärna också kapitel 13 i kursboken för ytterligare exempel.)

In [164]:
# Import modules

import pandas as pd
import sqlite3

In [165]:
# Create connection to database file
con = sqlite3.connect('batterier.db')

In [166]:
# Create a DataFrame
df = pd.read_csv('batterier.csv', index_col=False)

In [167]:
df.head()

   typ av batteri    år  Såld mängd, ton Insamlad mängd, ton
0             1.1  2011           3371.6              2424.8
1             1.1  2015           3424.3              2347.6
2             1.1  2019           4351.7                  ..
3             1.1  2010             48.9                84.6
4             1.2  2014             57.1                48.2

In [169]:
# Load DataFrame data into table batteridata in database file
df.to_sql('batteridata', con, if_exists='replace')

22